<h2>Settings</h2>

<form [formGroup]="apiForm">
    <p>NewsAPI.org</p>
    <input type="text" style="width: 100%" placeholder=" API key from newsapi.org" formControlName="apiKey">
    <mat-hint *ngIf="apiForm.invalid">Please enter your API key.</mat-hint>
    <!-- <mat-hint [NgClass]="apiKeyAdded">API key added!</mat-hint> -->
</form>

<div class="d-flex justify-content-between mt-3">
    <span>
        <button type="button" class="btn btn-warning mr-1" [routerLink]="['/countries']">Back</button>
        <button type="button" class="btn btn-danger" [disabled]="apiForm.invalid" (click)="deleteApi()">Delete</button>
    </span>
    
    <button type="button" class="btn btn-primary" [disabled]="apiForm.invalid" (click)="saveApi()">Add</button>
</div>
